* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* ocupa todo o espaço restante entre header e footer */
}
