* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden; 

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    overflow-y: auto;   
    flex-grow: 1; 
}
