footer {
    width: 100%;
    bottom: 0;

    display: flex;
    align-items: center;

    padding: 20px 10px;
    background-color: #FAFAFA;

    border-top: 1px solid #E5E7EB;
    gap: 1rem;
}

footer i {
    font-size: 1.2rem;
    transform: rotate(-45deg); /* Rotaciona 45 graus */
}

input{
    background-color: transparent;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%;
}

#enviarBtn {
    border: none;
    outline: none;
    background-color: #E35E33;

    margin: auto;
    padding: 0.75rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#enviarBtn img {
    flex: 1;
}

.container-input{
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #9CA3AF;
    background-color: #F2F2F2;
    
    border-radius: 50px;
    padding: 0.5rem;
    overflow: hidden;
}