<link rel="stylesheet" href="/frontend/assets/css/chatBox/style.css">

<div id="chatBox">  

    <div id="typingLoader" class="typing-loader hidden">
        <span></span><span></span><span></span>
    </div>
   
</div>