<link rel="stylesheet" href="/frontend/assets/css/chatBox/style.css">

<div id="chatBox">
    <div class="dialog-user">
        <div class="box-user">
            <p>Fala do usuário aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
        <div class="time">
            19:00
        </div>
    </div>

    <div class="dialog-user">
        <div class="box-user">
            
        </div>
        <div class="time">
            19:00
        </div>
    </div>
   
</div>