<link rel="stylesheet" href="/frontend/assets/css/inputUser/style.css">

<footer>
    <i class="fas fa-paperclip"></i>
    <div class="container-input">
        <input type="text" id="userInput" placeholder="Digite sua pergunta...">
    </div>
    <button id="enviarBtn">
        <img src="/frontend//assets/img/sendIcon.svg" alt="Enviar">
    </button>
</footer>