<%- include('includes/head')%>

<%- include('includes/nav')%>

<div class="container"> 
    <h1>Chat da FURIA</h1>
    <div id="chatBox"></div>
    <input type="text" id="userInput" placeholder="Digite sua pergunta...">
    <button id="enviarBtn">Enviar</button>
</div>

<%- include('includes/footer')%>
